<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progresoAzul" aria-valuemin="0" aria-valuemax="100" [style.width]="progresoAzul + '%'"></div>
                </div>

                <br>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenow]="progresoVerde" aria-valuemin="0" aria-valuemax="100" [style.width]="progresoVerde + '%'"></div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador ombre="Progress Azul" [progreso]="progresoAzul" (cambioValor)="progresoAzul = $event"></app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador [classInput]="'btn-success'" nombre="Progress Verde" [progreso]="progresoVerde" (cambioValor)="progresoVerde = $event"></app-incrementador>

            </div>
        </div>
    </div>

</div>