<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #busquedaTermino
          (keyup)="buscar(busquedaTermino.value)"
          type="text"
          class="form-control"
          placeholder="Buscar usuario.."
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Médicos ({{ medicos.length }})</h4>
            <h5 class="card-subtitle">Médicos registados en la App</h5>
          </div>

          <div class="col text-right">
            <a class="btn btn-primary" routerLink="/dashboard/medico/nuevo">
              <i class="fa fa-hospital-o"></i>
              Crear Médico
            </a>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td>
                  <img
                    class="avatar cursor"
                    (click)="abrirModal(medico)"
                    [src]="medico.img | imagen: 'medicos'"
                    [alt]="medico.nombre"
                  />
                </td>
                <td>{{ medico.nombre }}</td>

                <td class="text-nowrap text-center">
                  <a
                    class="cursor"
                    [routerLink]="['/dashboard/medico', medico._id]"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    (click)="eliminarMedico(medico)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-success text-center" role="alert">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">porfavor espere</p>
        </div>
      </div>
    </div>
  </div>
</div>
