<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Médico</h4>
        <h6 class="card-subtitle">Actualizar informacion</h6>
        <form
          class="form p-t-20"
          [formGroup]="medicoForm"
          (ngSubmit)="guardarMedico()"
        >
          <div class="form-group"
               *ngIf="medicoSel">
            <label for="exampleInputuname">Foto</label>
            <div class="input-group">
              <img
                class="w200"
                [src]="medicoSel.img | imagen: 'medicos'"
                alt=""
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                formControlName="nombre"
                placeholder="Nombre del médico"
                style="
                  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==');
                  background-repeat: no-repeat;
                  background-attachment: scroll;
                  background-size: 16px 18px;
                  background-position: 98% 50%;
                  cursor: auto;
                "
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Hospital</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <select class="form-control" formControlName="hospital">
                <option value="">Seleccione hospital</option>
                <option
                  *ngFor="let hospital of hospitales"
                  [value]="hospital._id"
                >
                  {{ hospital.nombre }}
                </option>
              </select>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="medicoForm.invalid"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            &nbsp; Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col animated fadeIn fast" *ngIf="hospitalSeleccionado" >
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">Hospital asignado</h6>

        <img
          class="img-thumbnail"
          [src]="hospitalSeleccionado.img | imagen: 'hospitales'"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
