<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #busquedaTermino
          (keyup)="buscar(busquedaTermino.value)"
          type="text"
          class="form-control"
          placeholder="Buscar usuario.."
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Hospitales ({{ hospitales.length }})</h4>
            <h5 class="card-subtitle">Hospitales registados en la App</h5>
          </div>

          <div class="col text-right">
            <button class="btn btn-primary" (click)="abrirSweetAlert()">
              <i class="fa fa-hospital-o"></i>
              Crear Hospital
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="text-center">
                  <img
                    class="w100 cursor"
                    [src]="hospital.img | imagen: 'hospitales'"
                    [alt]="hospital.nombre"
                    (click)="abrirModal( hospital )"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del hospital"
                    [(ngModel)]="hospital.nombre"
                  />
                </td>

                <td class="text-nowrap text-center">
                  <a
                    class="cursor"
                    (click)="guardarCambios(hospital)"
                    data-toggle="tooltip"
                    data-original-title="Guardar"
                  >
                    <i class="fa fa-save text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    (click)="eliminarHospital(hospital)"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <button type="button" class="btn btn-secondary">Anteriores</button>
          &nbsp;
          <button type="button" class="btn btn-secondary">Siguientes</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-success text-center" role="alert">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">porfavor espere</p>
        </div>
      </div>
    </div>
  </div>
</div>
