/* You can add global styles to this file, and also import other style files */
#themecolors a, .cursor {
  cursor: pointer;
}

.social-google {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-avatar {
  height: 200px;
  width: 200px;
}


