<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar usuario.."
          (keyup)="buscar(txtTermino.value)"
          #txtTermino
        />
      </div>
    </div>
  </div>
</div>


<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{ totalUsuarios }})</h4>
        <h6 class="card-subtitle" > Usuarios registrados en mi aplicación</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100" >Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140" >Role</th>
                <th class="w100" >Auth</th>
                <th class="text-nowrap w100">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios" >
                <td class="text-center" >
                  <img class="avatar cursor"
                       [src]="usuario.imagenUrl"
                       alt="Avatar de usurio"
                       (click)="abrirModal( usuario )"
                       >
                </td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
                <td>
                  <select class="form-control"
                          [(ngModel)]="usuario.role"
                          (change)="cambiarRole(usuario)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                   <ng-container *ngIf="usuario.google; else elseTemplate">
                        <div class="label label-table label-danger" > Google </div>
                  </ng-container>

                  <ng-template #elseTemplate>
                    <div class="label label-table label-info" > Normal </div>
                  </ng-template>

                </td>

                <td class="text-nowrap text-center">
                  <a data-toggle="tooltip"
                     data-original-title="Borrar"
                     class="cursor"
                     (click)="eliminarUsuario(usuario)">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="txtTermino.value.length === 0" >
            <button (click)="cambiarPagina(-5)" type="button" class="btn btn-secondary">Anteriores</button>
            &nbsp;
            <button (click)="cambiarPagina(5)" type="button" class="btn btn-secondary">Siguientes</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-success text-center" role="alert">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">porfavor espere</p>
        </div>
      </div>
    </div>
  </div>
</div>
